body {
    background: grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid {
    display: flex;
    gap: 0px;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.square {
    background: black;
    min-width: 5px;
    min-height: 5px;
    flex: 1 1 auto;
}

.btn {
    width: 100px;
    margin-bottom: 10px;
}